.vertical-slider {
	writing-mode: vertical-lr;
				
	width: 32px;
	height: 400px;
	direction: rtl;
}

h1 {
	padding: 50 px 20 px;
}
.horiz_slider {
	width: 400px;
	height: 32px;
	direction: rtl;
}
body {
	align-items: center;
	display: flex;
	background-color: #f9e7e7;
	justify-content: center;
}
